---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();

import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer.astro";

const pubDate = entry.data.pubDate;

import { formatDate } from "../../date";
---

<Base>
  <title slot="head">{entry.data.title} - ayats.org</title>

  <div id="container">
    <div id="sidebar" class="">
      <div id="sidebar-content" class="bg-purple-400">
        <ul>
          {
            headings.map((heading) => {
              return (
                <li>
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <main id="content" class="">
      <div id="content-wrapper" class="max-w-6xl px-3 md:px-20 py-3 md:py-10">
        <h1>{entry.data.title}</h1>

        <div class="flex gap-2" id="subtitle">
          <p id="pub-date">
            {formatDate(pubDate)}
          </p>
          <p>·</p>
          <p>
            {remarkPluginFrontmatter.estimation.text}
          </p>
        </div>

        <Content />

        <Footer />
      </div>
    </main>
  </div>

  <style lang="less">
    #container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: max-content 1fr;

      width: 100vw;
    }

    #content {
      /* max-width: 100%; */
      grid-column: 1 / span 2;

      overflow: auto; /* why??? */
    }

    #sidebar {
      display: none;
    }

    #sidebar-content {
      position: sticky;
      top: 100px;
      width: 300px;
    }

    #post-content {
      margin-top: 5rem;
    }

    #subtitle p {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 3rem;

      color: var(--text-color-alt);
    }

    @media (min-width: 1024px) {
      #content {
        grid-column: 2 / span 1;
      }

      #sidebar {
        display: block;
      }
    }
  </style>
</Base>
