---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer.astro";

const file = `src/content/${entry.collection}/${entry.id}`;

import TOC from "../../components/TOC.astro";
---

<Base
  seo={{
    title: entry.data.title,
    description: entry.data.summary,
    og: {
      image: `/img/og/${entry.slug}.png`,
    },
  }}
>
  <div id="container">
    <TOC headings={headings} />

    <div id="content-wrapper" class="flex flex-col items-center">
      <div class:list={["main-container", entry.data.draft ? "draft" : null]}>
        <main>
          <Content />
        </main>

        <Footer file={file} />
      </div>
    </div>
  </div>

  <style lang="less">
    @sidebar-thr: 1024px;

    #container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 0 1fr;

      width: 100vw;

      @media (min-width: @sidebar-thr) {
        grid-template-columns: 300px 1fr;
      }
    }

    #container > :global(aside) {
      grid-column: 1 / span 1;
      // grid-row: 1 / span 1;
      width: 300px;
      overflow-y: auto;
      position: fixed;
      height: 100%;

      display: none;
      @media (min-width: @sidebar-thr) {
        display: revert;
      }
    }

    #content-wrapper {
      grid-column: 2 / span 1;

      max-width: 100%;
      overflow: auto; // ???
    }

    .main-container.draft {
      border: 2px solid red;
      box-sizing: border-box;
    }
  </style>

  <style is:global>
    .subtitle {
      display: flex;
      gap: 0.5rem;
    }

    .subtitle p {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 3rem;

      color: var(--text-color-alt);
    }
  </style>
</Base>
