---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();

import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer.astro";

const pubDate = entry.data.pubDate;

import { formatDate } from "../../date";

const file = `src/content/${entry.collection}/${entry.id}`;
---

<Base>
  <title slot="head">{entry.data.title} - ayats.org</title>

  <div id="container">
    <div id="sidebar">
      <h3>Contents</h3>
      <ul>
        <li class="depth-1"><a href={`#${entry.slug}`}>{entry.data.title}</a></li>
        {
          headings.map((heading) => {
            return (
              <li class=`depth-${heading.depth}`>
                <a href={`#${heading.slug}`}>{heading.text}</a>
              </li>
            );
          })
        }
      </ul>

      <style>
        h3 {
          padding-bottom: 0.5rem;
        }
        
        /* Eyeballing distances */

        li {
          padding: 0.2rem 0;
          border-left: 1px solid var(--elem-neutral);
          padding-left: 2.5rem;
        }

        li.depth-1 {
          padding-left: 1rem;
        }

        li.depth-2 {
          padding-left: 1.8rem;
        }


        ul > ul {
          margin-left: 10px;
        }

      </style>
    </div>

    <div id="content-wrapper" class="flex flex-col items-center">
      <div id="content" class="main-container">
        <main>
          <h1 id={entry.slug}>{entry.data.title}</h1>

          <div class="flex gap-2" id="subtitle">
            <p id="pub-date">
              {formatDate(pubDate)}
            </p>
            <p>·</p>
            <p>
              {remarkPluginFrontmatter.estimation.text}
            </p>
          </div>

          <Content />
        </main>

        <Footer file={file} />
      </div>
    </div>
  </div>

  <style lang="less">
    @sidebar-thr: 1024px;

    #container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 300px 1fr;

      width: 100vw;
    }

    // #content {
    //   max-width: min(100%, 80rem);
    // }

    #content-wrapper {
      grid-column: 1 / span 2;
      overflow: auto; /* why??? */
      @media (min-width: @sidebar-thr) {
        grid-column: 2 / span 1;
      }
    }

    #sidebar {
      display: none; // starting
      position: fixed;
      width: 300px;
      min-height: 100%;
      overflow-wrap: break-word;
      overflow-y: auto;
      padding: 1rem;

      font-size: 0.9rem;
      font-weight: 500;

      background-color: rgb(227, 227, 227);

      :is(.dark &) {
        background-color: rgb(28, 28, 28);
      }

      @media (min-width: @sidebar-thr) {
        display: block;
      }

      // :is(ul, ol) {
      //   margin-left: 1.5rem;
      // }
    }

    #sidebar a {
      color: var(--text-color-alt);

      &:hover {
        color: var(--text-color);
      }
    }

    #post-content {
      margin-top: 5rem;
    }

    #subtitle p {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 3rem;

      color: var(--text-color-alt);
    }
  </style>
</Base>
