---
// FIXME: https://github.com/ddamato/astro-mdx-rss
export const partial = true;
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).filter(
  (post) => !(post.data.draft === true),
);

import sanitizeHTML from "sanitize-html";

const header = '<?xml version="1.0" encoding="UTF-8"?>';
---

<Fragment set:html={header} />
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>ayats.org</title>
    <description>Welcome to my personal blog.</description>
    <Fragment set:html={`<link>${Astro.url.origin}</link>`} />
    <Fragment
      set:html={`<atom:link href="${Astro.url.origin}/feed.xml" rel="self" type="application/rss+xml" />`}
    />
    {
      posts.map(async (post) => {
        const url = new URL(`blog/${post.slug}`, Astro.url.origin);
        const date = post.data.pubDate.toUTCString();
        const { Content } = await post.render();
        return (
          <item>
            <title>{post.data.title}</title>
            <guid>{url}</guid>
            <Fragment set:html={`<link>${url}</link>`} />
            <pubDate>{date}</pubDate>
            <description>
              <Fragment set:html={"<![CDATA["} />
              <Content />
              <Fragment set:html={"]]>"} />
            </description>
          </item>
        );
      })
    }
  </channel>
</rss>
