---
import Base from "../../layouts/Base.astro";
import Centered from "../../components/Centered.astro";

import { highlight } from "neohome-rs";

const webringSite = "ayats";
const webringURL = "https://nixwebr.ing"
---

<Base
    seo={{
        title: "Experiments",
    }}
>
    <Centered class:list={["test"]}>


        <div class="box">
            <h2>Nix Webring</h2>

            <p>You found the Nix webring!</p>

            <ul class="webring-control">
                <li><a href=`${webringURL}/prev/${webringSite}`>←</a></li>
                <li><a href={webringURL}>Home Page</a></li>
                <li><a href=`${webringURL}/rand`>🎲</a></li>
                <li><a href=`${webringURL}/next/${webringSite}`>→</a></li>
            </ul>
        </div>
    </Centered>
</Base>


<style>
    .box {
        box-sizing: border-box;
        padding: 20px;
        border: 4px solid rgb(68, 68, 68);
        border-radius: 10px;
        gap: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .webring-control {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        gap: 10px;

        & a {
            border-radius: 6px;
            background-color: var(--elem-neutral);
            padding: 10px;
        }
    }
</style>
