---
interface Props {
    class?: string;
    file?: string;
}

const { class: className, file } = Astro.props;

const date = new Date();

const commit: string | undefined = import.meta.env.GIT_COMMIT;
console.log(commit);

const branch = "astro";
const baseUrlShort = "viperML/neohome";
const baseUrl = `https://github.com/${baseUrlShort}`;

const url =
    baseUrl +
    (() => {
        if (commit === undefined && file === undefined) {
            return `/tree/${branch}`;
        } else if (commit === undefined && file !== undefined) {
            return `/blob/${branch}/${file}`;
        } else if (commit !== undefined && file === undefined) {
            return `/tree/${commit}`;
        } else if (commit !== undefined && file !== undefined) {
            return `/blob/${commit}/${file}`;
        } else {
            throw new Error("unreachable");
        }
    })();

const urlShort =
    baseUrlShort +
    (() => {
        if (commit !== undefined) {
            return ` @ ${commit.substring(0, 7)}`;
        } else {
            return "";
        }
    })() +
    (() => {
        if (file !== undefined) {
            return ` : ${file}`;
        } else {
            return "";
        }
    })();
---

<footer class:list={[className]}>
    <p>
        Blog posts © {date.getFullYear()} Fernando Ayats under <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC-BY-NC-SA 4.0</a
        >
    </p>
    <p>
        Built with Astro from <a href={url}>{urlShort}</a>
    </p>
</footer>

<style>
    footer {
        margin-top: 3rem;
        display: grid;
        width: 100%;
    }

    #astro {
        font-variant: small-caps;
    }
</style>
